---
import Layout from '../layouts/Layout.astro';

import Invite from '@components/Invite.astro';
import Program from '@components/Program.astro';
import Park from '@components/Park.astro';
import Gifts from '@components/Gifts.astro';
import Acc from '@components/Acc.astro';
import Rsvp from '@components/Rsvp.astro';
---

<Layout>
    <Invite/>
    <span id="program" class="h-10"></span>
    <Program/>
    <span id="park" class="h-10"></span>
    <Park/>
    <span id="gifts" class="h-10"></span>
    <Gifts/>
    <span id="acc" class="h-10"></span>
    <Acc/>
    <span id="rsvp" class="h-10"></span>
    <Rsvp/>
</Layout>