<div class="content mt-20">
    <h1 class="text-center">Ubytovanie</h1>
    <p class="w-full max-w-lg mx-auto text-center mt-4">
        Záujem o ubytovanie prosím zaznačte vo formulári a my Vám následne pošleme ďalšie informácie.
    </p>
</div>