<div class="content mt-20 flex flex-col items-center justify-center">
    <h1 class="text-center">Darčeky a kvety</h1>
    <p class="text-lg w-full max-w-lg mx-auto text-center mt-4">
        Milí hostia, Vaša prítomnosť je pre nás tým najväčším darom. Ak by ste nám predsa len chceli niečo venovať, budeme veľmi vďační za akýkoľvek finančný príspevok, ktorý nám pomôže na začiatku našej spoločnej cesty.
    </p>
</div>