<div class="content mt-20 flex flex-col items-center justify-center">
    <h1 class="text-center">Darčeky a kvety</h1>
    <p class="text-lg w-full max-w-lg mx-auto text-center mt-4">
Tešíme sa, že s nami strávite náš veľký deň. Chceli by sme Vás poprosiť, aby ste nám nenosili žiadne kvety a hmotné dary. Pre náš spoločný začiatok nám najviac pomôže finančný príspevok. Ďakujeme. 
    </p>
</div>