<div class="w-full h-[88vh] flex flex-col justify-center items-center" style="overflow: visible;">
    <div class="flex flex-col md:flex-row justify-center md:space-x-5">
        <div class="flex flex-col justify-center items-center">
            <h1 class="text-tint title">Janka</h1>
            <p class="samo-text -mt-4">Potočňáková</p>
        </div>
        <div class="title text-center" style="font-size: 3rem; line-height: 2; overflow: visible;">
            &
        </div>
        <div class="flex flex-col justify-center items-center">
            <h1 class="text-tint title">Samuel</h1>
            <p class="samo-text -mt-4">Nečeda</p>
        </div>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-4 mt-24 gap-4">
        <div class="flex flex-col justify-center items-center my-shadow rounded-md p-4">
            <div id="days" class="medium-text"></div>
            <p class="text-center">DNÍ</p>
        </div>
        <div class="flex flex-col justify-center items-center my-shadow rounded-md p-4">
            <div id="hours" class="medium-text"></div>
            <p class="text-center">HODÍN</p>
        </div>
        <div class="flex flex-col justify-center items-center my-shadow rounded-md p-4">
            <div id="mins" class="medium-text"></div>
            <p class="text-center">MINÚT</p>
        </div>
        <div class="flex flex-col justify-center items-center my-shadow rounded-md p-4">
            <div id="secs" class="medium-text"></div>
            <p class="text-center">SEKÚND</p>
        </div>
    </div>
</div>