<div class="content mt-20 flex flex-col items-center justify-center">
    <h1 class="text-center">Doprava a parkovanie</h1>
    <p class="text-lg w-full max-w-lg text-center mt-4">
        Pri kostole je možné zdarma zaparkovať na oplotenom ihrisku vedľa kostola, alebo na ulici pred kostolom. V Barci je pred kultúrnym domom pár miest kde je možné parkovať alebo na priľahlých uliciach. Ak nechcete ísť autom, tak od kostola do Barce premáva autobus č. 12.
    </p>
</div>