<div class="content mt-20 flex flex-col items-center justify-center">
  <h1 class="text-center">Doprava a parkovanie</h1>
  <p class="text-lg w-full max-w-lg text-center mt-4">
    Parkovať je možné zadarmo v areáli sály Bačíkova. Vstup je z ulice Bačíkova.
    Odporúčame tam nechať auto už pred obradom. Pešia vzdialenosť od kostola do
    sály je 800 m.
  </p>
</div>
