---
import TimelineCardLeft from "./TimelineCardLeft.astro";
import TimelineCardRight from "./TimelineCardRight.astro";
---

<div class="content mt-12">
    <h1 class="text-center">Program</h1>
    <div class="w-full flex flex-col">
        <TimelineCardLeft title="Svadobný obrad" subtitle="15:30, Dominikánsky kostol Nanebovzatia Panny Márie" imgPath="" />
        <TimelineCardRight title="Spoločné fotenie" subtitle="Pred kostolom" imgPath=""/>
        <TimelineCardLeft title="Oslava (pre pozvaných)" subtitle="Sála Bačíkova" imgPath="" />
        <!-- <TimelineCardRight title="Večera" subtitle="17:30" imgPath="" />
        <TimelineCardLeft title="Krájanie torty" subtitle="21:00" imgPath="" />
        <TimelineCardRight title="Kvíz" subtitle="23:00" imgPath=""/> -->
    </div>

    <div class="small-text text-sm mx-auto italic mt-12 text-center max-w-lg">
        <!-- Po večeri bude nasledovať voľná zábava, bez akýchkoľvek tradičných prvkov ako rédový a pod.
        <br/><br/> -->
        Zmena programu vyhradená
    </div>
</div>