<div class="content mt-20 flex flex-col items-center justify-center">
  <h1 class="text-center">Dotazník</h1>
  <p class="text-lg w-full max-w-lg mx-auto text-center mt-4">
Chceme Vás poprosiť o potvrdenie svojej účasti vyplnením dotazníka, prípadne telefonicky najneskôr 1.7.2025. Dotazník vyplňte pre každú osobu samostatne. Ďakujeme, že nám pomáhate pripraviť náš deň k spokojnosti nás všetkých. 
  </p>
  <a
    href="https://forms.gle/qHrfXrf8SZ1P5gGP6"
    target="_blank"
    class="btn-primary mt-8"
    aria-label="navigate to gifts button"
  >
    Dotazník
  </a>
</div>
