<div class="content mt-20 flex flex-col items-center justify-center">
    <h1 class="text-center">RSVP</h1>
    <p class="w-full max-w-lg mx-auto text-center mt-4">
        Svoju účasť nám prosím dajte vedieť vyplnením nasledovného formulára alebo telefonicky - správou najneskôr do 23.6.2024. Formulár vyplňte pre každú osobu osobitne.
    </p>
    <a href="https://forms.gle/M5jYPJrawmnW4wzZ8" target="_blank" class="btn-primary mt-8" aria-label="navigate to gifts button">
        RSVP
    </a>
</div>