---
interface Props {
	title: string;
    subtitle: string;
    imgPath: string;
}
const {title, subtitle, imgPath} = Astro.props;
---

<div class="grid grid-cols-7 gap-2 w-full">
    <div class="relative block md:hidden">
        <div class="w-1 h-full mx-auto bg-secondary"></div>
        <div class="absolute w-4 h-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full bg-secondary"></div>
    </div>
    <div class="col-span-6 md:col-span-3 py-6 md:py-12">
        <p class="leading-tight text-tint md:text-right">
            {subtitle}
        </p>
        <p class="medium-text font-medium md:text-right">{title}</p>
    </div>
    <div class="relative hidden md:block">
        <div class="w-1 h-full mx-auto bg-secondary"></div>
        <div class="absolute w-4 h-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full bg-secondary"></div>
    </div>
    <div class="col-span-3 hidden md:block">
        <img src={imgPath} alt="">
    </div>
</div>