---
interface Props {
	title: string;
    subtitle: string;
}
const {title, subtitle} = Astro.props;
---

<div class="flex flex-row-reverse md:contents">
    <div class="col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto" >
        <p class="leading-tight text-tint text-right">
            {subtitle}
        </p>
        <p class="medium-text font-medium text-right">{title}</p>
    </div>
    <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
        <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-1 bg-secondary pointer-events-none"></div>
        </div>
        <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-secondary shadow" >
        </div>
    </div>
</div>