---
import "../styles/base.css";

import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Svadobný web dvoch úžasných ľudí." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon for general browsers -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon_io/favicon-16x16.png"
    />

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="/favicon_io/apple-touch-icon.png" />

    <!-- Android Chrome Icons -->
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon_io/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/favicon_io/android-chrome-512x512.png"
    />

    <!-- Web Manifest -->
    <link rel="manifest" href="/favicon_io/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />
    <title>Pozvánka na svadbu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        overflow-x: hidden;
        position: relative;
        background-image: url("/sparkles.png"), url("/background.svg");
background-size: 100% auto, cover; /* Sparkles stretch across the width, main background fills the screen */
        background-repeat: repeat, no-repeat;
        background-position: center top, center; /* Sparkles are centered horizontally */
        background-attachment: fixed;
      }

      /* Media query for smaller screens */
@media (max-width: 1024px) {
  body {
    background-image: url('/sparkles.png'), url('/background.svg');
    background-size: 150% auto, cover; /* Zoom in on sparkles */
    background-repeat: repeat, no-repeat; /* Prevent tiling */
    background-position: center top, center; /* Keep sparkles positioned as on laptops */
    background-attachment: scroll; /* Enable scrolling for the background */
  }
      }
    </style>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
  <Footer />
</html>

<script src="../scripts/burger-menu.js"></script>
<script src="../scripts/timer.js"></script>
